*{
    margin: 0px;
    padding: 0px;
}
/* *:nth-child(n) {background-color: #8a8a8a33;} */

body {
    background-color: #f1f1f1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {

    background-color: white;
    border:solid #0000ff;
    border-width:50px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 
}
/* redefinindo o tamanho das divs dos logos */
.logo-cipa {
    height: 90px;
}

/* redefinindo o tamanho das divs dos logos */
.logo-compesa {
    height: 60px;
}

/* definindo o comprimento da div do menu */
.menu {
    width: 940px;
    
}

li {
    padding: 0px 20px; /* espacamento entre os links*/
    float: left; /* posicionando os links na horizontal*/
    font-size: 18px;
    list-style: none; /* retirando os pontos dos links*/
    text-decoration: none; /* retirando o sublinhado*/
}
a:link {
    color: rgb(0, 0, 255);
}
a:visited {
    color: blue;
}

