*{
    margin: 0px;
    padding: 0px;
}
*:nth-child(n) {background-color: #8a8a8a33;}
body {
    background-color: #f1f1f1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    /* margin: 10px; */
    background-color: white;
    border:solid #0000ff;
    border-width:50px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    
    
}
.logo-cipa {
    height: 85px;
}

.menu {
    width: 800px;
    
}

li {
    padding: 0px 20px;
    float: left;
}

a, li {
    list-style: none;
    text-decoration: none;    
}
